@font-face {
    font-family: "Rubik";
    
	src: url('Rubik-Regular.ttf');
}

@font-face {
    font-family: "Rubikbold";
    
	src: url('Rubik-Bold.ttf');
}

@font-face {
    font-family: "Rubikmedium";
    
	src: url('Rubik-Medium.ttf');
}

body{
    margin:0px;
    padding:0px;
}

.conteneur{
    background-image: url('sablier.png');
    background-repeat: no-repeat;
    position: absolute;
    height: 812px;
    width: 375px;
}
.ellipse{
    width: 375px;
    height: 85px;
    border-radius: 30px;
    background: #FF6969;
    position: absolute;
    z-index: 0;



    
}

.ellipse2{
    width: 395px;
    height: 85px;
    left:30px;
    background: #FF6969;
    position: absolute;
    z-index: 0;
    -webkit-box-shadow: 0 10px 16px -6px #777;
    -moz-box-shadow: 0 10px 16px -6px #777;
         box-shadow: 0 10px 16px -6px #777;


    
}

.fleche_retour{
    position:relative;
    bottom: 50px;
    left:20px;

}
h1{
    color:#fff;
    font-family: 'Rubikbold', serif ;
    margin-left:65px ;
    margin-top:30px ;

}



.titre_gris{
    font-family: 'Rubikmedium' ;
    color: #515C6F;
    margin-left:50px;
}

.question{

    position: relative;
    margin-top:150px;

}

.carre_blanc{
    background-color:#fff;
border-radius: 10px;
width:274px;
height:195px;
margin-left:50px;
position:absolute;
}

h2{
    font-family: 'Rubikmedium' ;
    color: #FF6969;
    margin-left: 15px;
    margin-top:20px;
    position :relative;
}

.button{
    margin-left:110px;
    margin-top:230px;
    position:relative;
}

#ellipse_bleue{
    width: 163px;
    height: 44px;
    border-radius: 30px;
    background: #FFFFFF;
    position: relative;
    z-index: 0;
    -webkit-box-shadow: 0 10px 16px -6px #777;
    -moz-box-shadow: 0 10px 16px -6px #777;
         box-shadow: 0 10px 16px -6px #777;
         Z-index:0;

}

#ellipse_rouge{

    width:32px;
    height:32px;
    background: #FF6969;
    border-radius:24px;
    left:128px;
    top:5px;
    position: relative;
}

.suivante{
    font-family: "Rubikmedium";
    position: relative;
    left:35px;
    top:42px;
    Z-index:1;
font-size:13px;
}


.fleche_avance{
    top:5px;
    left:5px;
    position:relative;
    transform:rotate(180deg);

}

.checkbox{
    list-style: none;
}

.round {
    position: relative;
    list-style: none;
    margin-top: 10px;

    

    
  }
  
  .round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    left: 0px;
    position:absolute;
    top: 10px;
    width: 28px;
    list-style: none;
  }
  
  .round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";

    opacity: 0;
    position: absolute;

    transform: rotate(-45deg);
    list-style: none;

  }
  
  .round input[type="checkbox"] {
    visibility: hidden;
    list-style: none;
  }
  
  .round input[type="checkbox"]:checked + label {
    background-color: #026BFE;
    border-color: #026BFE;
    list-style: none;
}
  
  .round input[type="checkbox"]:checked + label:after {
    opacity: 1;
    list-style: none;
}

  .label{
    position:absolute ;
    
    list-style: none;

}




.reponse{
    display: inline-flex;
    margin-left: 30px;
    bottom: 60px;
    font-family: 'Rubik' ;
}
  

  .menu_barre{

margin-bottom:10px;
    background-color:#FFFFFF;
    height:30px; 
  
    
  }


  .champ2{
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-top:300px;
    position:relative;
  }

.maison{
    margin-left:10px;
    position: relative;

}
.bonhomme{
    margin-left:5px;
    position: relative;

}
.livre{
    margin-left:10px;
    position: relative;
 
}
  .footer{
    font-family: "Rubik";
    font-size: 12px;
    margin:0;
    padding:0;
  }


